
build/darknet/.vs/darknet/v15/.suo
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
build/darknet/bad.list
*.user
*.obj
*.cache
*.deps
*.tlog
*.idb
*.log
*.pdb
*.svg
scripts/testdev2017.txt
scripts/setup.ps1
*.html
*.enc
build/darknet/x64/darknet.ilk
*.exe
*.ilk
scripts/.idea/inspectionProfiles/profiles_settings.xml
scripts/.idea/misc.xml
scripts/.idea/modules.xml
scripts/.idea/scripts.iml
scripts/.idea/vcs.xml
