
build/darknet/.vs/darknet/v15/.suo
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
build/darknet/bad.list
*.user
*.obj
*.cache
*.deps
*.tlog
*.idb
*.log
*.pdb
*.svg
scripts/testdev2017.txt
scripts/setup.ps1
*.html
*.enc
